<header>
  <nav class="nav">
    <h1>
      <a href="#" class="logo"
        ><img
          src="assets/images/comix-logo.svg"
          alt="comix logo"
          class="comix-logo"
      /></a>
    </h1>
    <ul class="nav-links">
      <li><a href="#">Sign in</a></li>
      <li><a href="#">Create account</a></li>
      <li><a href="#">Comics</a></li>
      <li><a href="#">Lists</a></li>
      <li><a href="#">Members</a></li>
    </ul>
    <form action="">
      <label for="search-q" class="hidden">Search:</label>
      <input type="text" name="search-q" id="search-q" />
      <input type="submit" name="search" class="search-l" />
    </form>
  </nav>
</header>
